WhackAMole2.xcodeproj
WhackAMole/WhackAMole.xcodeproj/project.pbxproj
WhackAMole/WhackAMole.xcodeproj/project.xcworkspace/contents.xcworkspacedata
WhackAMole/WhackAMole.xcodeproj/project.xcworkspace/xcuserdata/ugajintakeshishi.xcuserdatad/
WhackAMole/WhackAMole.xcodeproj/xcuserdata/ugajintakeshishi.xcuserdatad/xcschemes/WhackAMole.xcscheme
WhackAMole/WhackAMole.xcodeproj/xcuserdata/ugajintakeshishi.xcuserdatad/xcschemes/xcschememanagement.plist